#content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
body{
    margin: 0;
    font-family: sans-serif;
}
#frame{
    max-width: 50vw;
    max-height: 75vh;
    margin-bottom: 10px;
}
#label{
    font-size: 20px;
}